/* Change all text and icon colors in the player. */
.vjs-matrix.video-js {
    color: rgb(136, 181, 61);
  }
  
  /* Change the border of the big play button. */
  .vjs-matrix .vjs-big-play-button {
    border-color: rgb(136, 181, 61);;
  }
  
  /* Change the color of various "bars". */
  .vjs-matrix .vjs-volume-level,
  .vjs-matrix .vjs-play-progress,
  .vjs-matrix .vjs-slider-bar {
    background: rgb(136, 181, 61);;
  }